@font-face {
    font-weight: 400;
    font-family: "Effra", sans-serif;
    src: url("../fonts/Effra_Trial_Rg.ttf");
}


@font-face {
    font-weight: 700;
    font-family: "Effra", sans-serif;
    src: url("../fonts/Effra_Trial_Bd.ttf");
}